@model BootWrap.UI.MVC.Test.Models.MyModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@(Html.Bootstrap().Container()
        .Child(bootstrap => bootstrap.Row()
            .Fluid()
            .Class("well")
            .Span(4, span => span.Html(@<text>Bu bir span</text>))
            .Span(4, span => span.Html(@<text>Bu bir span</text>))
            .Span(4, span => span.Child(bs => bs.Row()
                .Fluid()
                .Span(6,spanInner => spanInner.Child(bstrp => bstrp.TextBox()
                    .Value(model => model.SubModel.Name)
                    .Class("input-small")))
                .Span(6,spanInner => spanInner.Html(@<text>@item.LastName</text>)))
        )))