@model BootWrap.UI.MVC.Test.Models.MyModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="row">
        @(Html.Bootstrap()
            .Span()
            .Html(@<text>
                <strong>Span</strong>
        </text>))
</div>
