@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    @(Html.Bootstrap()
    .Row()
    .Html(@<div class="span6">
        @(Html.Bootstrap().TextBox())
        <br />
        Html Ulan
    </div>))
</div>
